@import '~bootstrap-icons/font/bootstrap-icons.css';


.App {
  text-align: center;
  background: linear-gradient(to right, pink,rgb(216, 68, 93));


}




/*  signUp */

.authen{

  height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.authen form{

  display: flex;
  justify-content: center;
  flex-direction: column;
}


/*/*  signUp */



html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(to right, pink,rgb(216, 68, 93));
}


.login-box {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 400px;
  padding: px;
  transform: translate(-50%, -50%);
  background: rgba(43, 40, 40, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box h4 {
  
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 80%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;

  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
 
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 1px 110px;
  color: #141314;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 30px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #cc03f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(240, 234, 237),
              0 0 25px #e9e4e7,
              0 0 50px #f5f6f6,
              0 0 100px #dbdcdc;
}




.login-box form p {

  color: #b7bcbd;
}

.login-box form a {

  color:white;
}


.login-box form h5{
  color:red;
 margin: top 0;
 font-size: 12px;
}


/*/*  signUp */
.container {


  padding: 30px;

}


/*/*  user  */

table{
background-color:rgb(245, 238, 238) ;
margin-top: 50px;
}





